* {
    margin: 0;
    padding: 0;
}
body {
font-family: Roboto,sans-serif;
}
.navbar {
background-color: #1F2937;
}
.container {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    margin: 0px 75px 0px 75px;
    padding: 40px;
    flex-wrap: wrap;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;  
}
.Hero-resort {
    display: flex;
    justify-content: Space-between;
    align-items: center;
    margin: 0px 75px 75px 75px;
    padding: 0px 25px 50px 25px;
}
.Resort {
align-self: center;
flex-direction: column;
padding-right:  20px;
} 
.Hero-resort .Resort {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

img {
    max-width: 400px;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}

.Sign-up {
background-color: #388246;
color: #E5E7EB;
font-weight: 900;
padding: 5px 20px;
border-radius: 5px;
border: 0;
}
.Card_wrapper {
    margin: 100px;
}
h3 {
    text-align: center;
    font-weight: 900px;
    font-size: 48px;
    color: #1F2937;
    margin: 20px;

}
.card_container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.card_image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #3882f6;

}
.card_subtext {
    color: #1F2937;
}
.card{
    align-self: center;
}
